<div class="homeBox containerBox containerBox--limit pb60">
  <!-- top filter and button  -->
  <div class="dF jcSB fw-nW w100 mt35 mb25">
      <!-- button route create user  -->
    <button mat-stroked-button color="primary" class="dB mlA" (click)="addEmployes()">
      <mat-icon>person_add</mat-icon>
      Agregar usuario
    </button>
    <!-- end button route create user  -->
  </div>
  <!-- end top filter and button  -->
  <!-- table caption  -->
  <h1 class="taC mb25 w100 bolder fs24">Lista de enfermeros Registrados</h1>
  <!--End  table caption  -->


  <div class="table-wrapper card mb60">
    <div class="p15 dF">
        <!-- input filter table  -->
    <mat-form-field class="max300 form__search mlA" appearance="outline" >
      <mat-label>Filtrar usuario</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Maria" #input autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- end input filter table  -->
    </div>
    <table class="table" mat-table [dataSource]="dataSource" matSort matSortDirection="asc">

      <!-- ID Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
        <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="tipo_doc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo_doc}} </td>
      </ng-container>
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Documento </th>
        <td mat-cell *matCellDef="let row"> {{row.documento}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
        <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
      </ng-container>
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> correo </th>
        <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
      </ng-container>

      <!-- ACTIONS COLUMN  -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon button menu"
            class="dB mA">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openModalUser(row, row.idusuario)">
              <mat-icon color="primary">edit</mat-icon>
              <span>Editar empleado</span>
            </button>

            <button mat-menu-item (click)="handleDeleteUser(row.idusuario)">
              <mat-icon color="warn">person_remove</mat-icon>
              <span>Eliminar usuario</span>
            </button>

          </mat-menu>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"></mat-paginator>
  </div>

</div>
<section class="modal global-shadow" *ngIf="dialog">
  <div class="modal__overlay" (click)="closeDialog()"></div>
  <div class="modal__content">
    <form autocomplete="off" class="form form--stepper" [formGroup]="usersForm" >
      <!-- table caption  -->
      <h1 class="taC mb25 w100 bolder fs24">{{toggleTitle}}</h1>
      <!--End  table caption  -->
      <mat-grid-list class="form__list" cols="2" rowHeight="60">
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box  ">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres" formControlName="nombre" required >
          </mat-form-field>
        </mat-grid-tile>
        <!-- end form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box ">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellido">
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box ">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipo_doc">
              <mat-option *ngFor="let type of listDoc" [value]="type.value">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box ">
            <mat-label>Número de documento</mat-label>
            <input type="number" matInput placeholder="Número de documento" formControlName="doc">
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Teléfono</mat-label>
            <input type="tel" matInput placeholder="Edad del paciente" formControlName="tel" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput placeholder="Dirección" formControlName="direccion" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Correo Electrónico</mat-label>
            <input type="email" matInput placeholder="Correo Electrónico" formControlName="correo" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
      </mat-grid-list>
      <div class="dF jcFE">
        <button mat-stroked-button
        class="mr10" (click)="closeDialog()">
          Cancelar
        </button>
        <button mat-raised-button *ngIf="isAddUser; else isUpdateUser"
          type="submit" color="primary"
          (click)="handleUserRegister(usersForm.value)">
          Registrar
        </button>

        <ng-template #isUpdateUser>
          <button mat-raised-button
            type="submit" color="warn"
            (click)="handleUserUpdate(usersForm.value)">
            Actualizar
        </button>
        </ng-template>

      </div>
    </form>

  </div>
</section>
